In [3]:
import pandas as pd

In [16]:
#Trabalha na base, há um problema com a base que o jupyter nao consegui ler.

arquivo = '/home/wesley/Documentos/educacao/estudo/projetos/cat/cat_data/data_base/total.csv'

In [17]:
dataset = pd.read_csv(arquivo, sep=',')

/home/wesley/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
dataset

,Data Acidente,CBO,CID-10,Sexo,Idade,Agente Causador Acidente,Data completa Acidente
0,2018/07,514320,M233,Feminino,48,Escada Permanente Cu,03/07/18
1,2018/07,784205,M751,Feminino,52,"Esforco Excessivo, N",16/07/18
2,2018/07,517310,S800,Masculino,28,"Ser Vivo, Nic",14/07/18
3,2018/07,723320,S970,Masculino,38,Veiculo Rodoviario M,13/07/18
4,2018/07,415205,S800,Masculino,38,Bicicleta,17/07/18
...,...,...,...,...,...,...,...
588570,2019/12,782510,S221,Masculino,42,"Veiculo, Nic",12/12/19
588571,2019/12,784205,S761,Masculino,23,"Veiculo, Nic",11/12/19
588572,2019/12,641015,S026,Masculino,50,Maquina Agricola,03/12/19
588573,2019/12,783215,S324,Masculino,44,"Transportador, Nic",06/12/19
588574,2019/12,623015,S81,Masculino,25,"Tesoura, Guilhotina,",13/12/19